OML_App/Web References/net.ukct.reintjan1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://reintjan.ukct.net/rtm" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://reintjan.ukct.net/rtm" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://reintjan.ukct.net/rtm">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveNewSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ses" type="tns:Session" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Session">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Vehicle_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sensors" type="tns:ArrayOfSensor" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSensor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sensor" nillable="true" type="tns:Sensor" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sensor">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NameShort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Unity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Min" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Max" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfValueData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfValueData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ValueData" nillable="true" type="tns:ValueData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ValueData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveNewSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveNewSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSessionListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSessionListResult" type="tns:ArrayOfSession" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSession">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="number" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllSessionResult" type="tns:ArrayOfSession" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaveNewSessionSoapIn">
    <wsdl:part name="parameters" element="tns:SaveNewSession" />
  </wsdl:message>
  <wsdl:message name="SaveNewSessionSoapOut">
    <wsdl:part name="parameters" element="tns:SaveNewSessionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSessionList" />
  </wsdl:message>
  <wsdl:message name="GetSessionListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSessionListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllSessionSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllSession" />
  </wsdl:message>
  <wsdl:message name="GetAllSessionSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllSessionResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionListHttpGetIn">
    <wsdl:part name="number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionListHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSession" />
  </wsdl:message>
  <wsdl:message name="GetAllSessionHttpGetIn">
    <wsdl:part name="number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSessionHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfSession" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionListHttpPostIn">
    <wsdl:part name="number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSessionListHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSession" />
  </wsdl:message>
  <wsdl:message name="GetAllSessionHttpPostIn">
    <wsdl:part name="number" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetAllSessionHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfSession" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveNewSession">
      <wsdl:input message="tns:SaveNewSessionSoapIn" />
      <wsdl:output message="tns:SaveNewSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <wsdl:input message="tns:GetSessionListSoapIn" />
      <wsdl:output message="tns:GetSessionListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSession">
      <wsdl:input message="tns:GetAllSessionSoapIn" />
      <wsdl:output message="tns:GetAllSessionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <wsdl:input message="tns:GetSessionListHttpGetIn" />
      <wsdl:output message="tns:GetSessionListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSession">
      <wsdl:input message="tns:GetAllSessionHttpGetIn" />
      <wsdl:output message="tns:GetAllSessionHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="WebServiceHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <wsdl:input message="tns:GetSessionListHttpPostIn" />
      <wsdl:output message="tns:GetSessionListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSession">
      <wsdl:input message="tns:GetAllSessionHttpPostIn" />
      <wsdl:output message="tns:GetAllSessionHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://reintjan.ukct.net/rtm/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewSession">
      <soap:operation soapAction="http://reintjan.ukct.net/rtm/SaveNewSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <soap:operation soapAction="http://reintjan.ukct.net/rtm/GetSessionList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSession">
      <soap:operation soapAction="http://reintjan.ukct.net/rtm/GetAllSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://reintjan.ukct.net/rtm/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveNewSession">
      <soap12:operation soapAction="http://reintjan.ukct.net/rtm/SaveNewSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <soap12:operation soapAction="http://reintjan.ukct.net/rtm/GetSessionList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSession">
      <soap12:operation soapAction="http://reintjan.ukct.net/rtm/GetAllSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpGet" type="tns:WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <http:operation location="/GetSessionList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSession">
      <http:operation location="/GetAllSession" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceHttpPost" type="tns:WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionList">
      <http:operation location="/GetSessionList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSession">
      <http:operation location="/GetAllSession" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://reintjan.ukct.net/rtm/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://reintjan.ukct.net/rtm/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpGet" binding="tns:WebServiceHttpGet">
      <http:address location="http://reintjan.ukct.net/rtm/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceHttpPost" binding="tns:WebServiceHttpPost">
      <http:address location="http://reintjan.ukct.net/rtm/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>